/* Varibles */
:root {
  --main-font: font-family: "Roboto", sans-serif;
  --main-size: 16px;
  --main-color: #434455;
  --white-color: #ffffff;
  --iris-color: #4d5ae5;
  --background-color: #2e2f42;

}

/* reset */

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* base style */
body {
  font-family: var(--main-font);
  font-size: var(--main-size);
  color: var(--main-color);
  background-color: var(--white-color);
}

ul,
ol {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

button {
  display: block;
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.margin-b {
  margin-bottom: 8px;
}

.mb-32 {
  margin-bottom: 32px;
}

/* finish basic styles */

/* !header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.flex-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 76px;
}

.naw-list-wrapper {
  display: flex;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}

.logo-blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.nav-item {
  display: flex;
}

.nav-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.address-item {
  display: flex;
}

.connection {
  font-style: normal;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* !start section Hero */
.page-hero {
  padding: 188px 0;
  background-color: var(--background-color);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  width: 550px;
}

.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  padding: 10px;
  /* border: 1px solid #000; */
  border-radius: 4px;
  width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--iris-color);
}

.btn-service:hover,
.btn-service:focus {
  background-color: #404bbf;
}

/* !start section about the product */

.section-about-product {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
}

.about-product-list {
  display: flex;
  gap: 24px;
}

.about-product-item {
  width: calc((100% - 72px) / 4);
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.center {
  text-align: center;
}
/* finish section about the product */

/* !start section teamwork */
.teamwork {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.teamwork-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.teamwork-list {
  display: flex;
  gap: 24px;
}

.card-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.teamwork-box {
  padding: 32px 0
  }

/* finish section teamwork */

/* !start section portfolio */

.portfolio {
  padding: 120px 0 120px 0;
}

.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-item > .card-title {
  padding-left: 16px;
}

.portfolio-item > .card-description {
  padding-left: 16px;
}

.box-border-b-l-r {
border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
}

.card-title {
  margin-bottom: 8px;
}
/* finish section portfolio */
/* !Footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

footer .color-change-cloud {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
